div.head{
    margin:auto;
    margin-bottom: 50px;
    margin-top: 20px;
    word-spacing: 15px;
    text-align: center;
}
div > a{
    word-spacing: normal;
}
div.content{
    overflow-wrap: break-word;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.footer{
    padding:10px;
    word-spacing: 5px;
}
.footer > span {
    background-color: #24323B;
    color: #fff;
}
